*.csv
src/01_feature_extraction/models/*
src/01_feature_extraction/results/*
src/01_feature_extraction/reports/*
.ipynb_checkpoints/
__pycache__/
src_aurel/data/
src_aurel/*.png
src_aurel/settings.json